.notification-dashboard {
  width: 100%;
  padding: 0 70px;
}

.notification-dashboard__title {
  font-weight: normal;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0px 40px 0px;
}

.notification-dashboard__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 60px 0px;
}

.action-notification__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.switch-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 50px;
  background: linear-gradient(160.01deg, #E9F1F8 23.58%, #F1FAFF 75.95%);
  border: 1px solid #F1FAFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.95), inset 6px 6px 12px #CBD3DA;
          box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.95), inset 6px 6px 12px #CBD3DA;
  border-radius: 45px;
  cursor: pointer;
}

.switch-left__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 140px;
  border-radius: 22px;
  background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
  -webkit-box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.43), 8px 8px 12px #CAD2D9;
          box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.43), 8px 8px 12px #CAD2D9;
  margin: 0px 0px 0px 5px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  z-index: 1;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #2B2B2B;
  cursor: pointer;
}

.switch-left__on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 140px;
  border-radius: 22px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #B7C1CB;
  margin: 0px 0px 0px 5px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  z-index: 1;
  cursor: pointer;
}

.search-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(160.01deg, #E9F1F8 23.58%, #F1FAFF 75.95%);
  border: 1px solid #F1FAFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.95), inset 6px 6px 12px #CBD3DA;
          box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.95), inset 6px 6px 12px #CBD3DA;
  border-radius: 24px;
}

.search-left__input {
  padding: 10px 0px 10px 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #A1BACB;
}

.search-left__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #A1BACB;
}

.search-left__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #A1BACB;
}

.search-left__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #A1BACB;
}

.search-left__input::placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #A1BACB;
}

.search-left__btn {
  margin: 0px 10px 0px 0px;
  background: -webkit-gradient(linear, left top, right top, from(#F1FAFF), color-stop(97.21%, #E9F1F8));
  background: linear-gradient(90deg, #F1FAFF 0%, #E9F1F8 97.21%);
  -webkit-box-shadow: -4px -4px 12px #FFFFFF, 4px 4px 12px #CAD2D9;
          box-shadow: -4px -4px 12px #FFFFFF, 4px 4px 12px #CAD2D9;
  border-radius: 22px;
  cursor: pointer;
}

.select-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  height: 50px;
  background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
  -webkit-box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.43), -8px -8px 12px #CAD2D9;
          box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.43), -8px -8px 12px #CAD2D9;
  border-radius: 35px;
}

.select-right__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 0px 10px 20px;
}

.select-right__btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10px;
  height: 10px;
  border-left: 3px solid #C4C4C4;
  border-bottom: 3px solid #C4C4C4;
  margin: 0px 20px 0px 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
