$mainBG: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
$mainBGRose:linear-gradient(133.32deg, #FDD8A0 3.56%, #FC657C 97.58%);
$mainShadow: 6px 6px 12px rgba(255, 255, 255, 0.43),
-8px -8px 12px #CAD2D9;
$mainShadowRose: -6px -6px 12px rgba(255, 255, 255, 0.25),
8px 8px 12px #CCD3DB;
$mainBorder: 20px;
$mainBorderRose: 1px solid #E5E5E5;
$mainBorderRadiusRose: 45px;
$mainBoxSizing: border-box;


.notification-dashboard {
    width: 100%;
    padding: 0 70px;
    &__title {
        font-weight: normal;
        font-size: 28px;
        line-height: 150%;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 60px 0px 40px 0px;
    }

    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 60px 0px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }
}

.action-notification {

    &__left {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__right {}
}

.left-action {

    &__switch {}

    &__search {}
}

.switch-left {
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    background: linear-gradient(160.01deg, #E9F1F8 23.58%, #F1FAFF 75.95%);
    border: 1px solid #F1FAFF;
    box-sizing: border-box;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.95),
    inset 6px 6px 12px #CBD3DA;
    border-radius: 45px;
    cursor: pointer;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 140px;
        border-radius: 22px;
        background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
        box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.43),
        8px 8px 12px #CAD2D9;
        margin: 0px 0px 0px 5px;
        transition-duration: 300ms;
        z-index: 1;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        color: #2B2B2B;
        cursor: pointer;
    }

    &__on {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 140px;
        border-radius: 22px;
        background: transparent;
        box-shadow: none;
        color: #B7C1CB;
        margin: 0px 0px 0px 5px;
        transition-duration: 300ms;
        z-index: 1;
        cursor: pointer;
    }
}

.search-left {
    display: flex;
    align-items: center;
    background: linear-gradient(160.01deg, #E9F1F8 23.58%, #F1FAFF 75.95%);
    border: 1px solid #F1FAFF;
    box-sizing: border-box;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.95),
    inset 6px 6px 12px #CBD3DA;
    border-radius: 24px;
    &__input {
        padding: 10px 0px 10px 20px;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: #A1BACB;
        &::placeholder{
            font-weight: 300;
            font-size: 18px;
            line-height: 150%;
            color: #A1BACB;
        }
    }

    &__btn {
        margin: 0px 10px 0px 0px;
        background: linear-gradient(90deg, #F1FAFF 0%, #E9F1F8 97.21%);
        box-shadow: -4px -4px 12px #FFFFFF,
        4px 4px 12px #CAD2D9;
        border-radius: 22px;
        cursor: pointer;
    }
}


.select-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 50px;
    background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
    box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.43),
    -8px -8px 12px #CAD2D9;
    border-radius: 35px;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0px 10px 20px;
        margin: 0px 0px 10px 0px;
        span{
            display: flex;
            width: 10px;
            height: 10px;
            border-left: 3px solid #C4C4C4;
            border-bottom: 3px solid #C4C4C4;
            margin: 0px 20px 0px 0px;
            transform: rotate(-45deg);
            transition: 0.3s;
        }

    }

    &__box-select {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 3;
    }
}

.box-select__show {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 3;
}

.box-select {
    &__item {
        display: flex;
        align-items: center;
    }
}

.item-box {
    margin: 0px 0px 4px 0px;
    &__input {}

    label{
        display: flex;
        align-items: center;
        background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
        box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.43),
        -8px -8px 12px #CAD2D9;
        border-radius: 35px;
        width: 280px;
        height: 40px;
        padding: 0px 0px 0px 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        color: #A1BACB;
    }

    #check1{
        z-index: 3;
    }

    #check2 {
        z-index: 2;
    }

    #check3 {
        z-index: 1;
    }
    
    input[type="checkbox"]:checked+label {
        background: linear-gradient(0deg, rgba(239, 110, 71, 0.05), rgba(239, 110, 71, 0.05)), linear-gradient(183.6deg, #FFF8F1 25.58%, #FFF1F1 66.56%);
        box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.43),
        -8px -8px 12px #D9D0CA;
        border-radius: 35px;
        color: #EF6E47;
    }
}

.item-box-open{
    display: flex;
}

.item-box-closed{
    display: none!important;
}

//====================================================================================================


.content-notification {

    &__title {
        font-weight: 300;
        font-size: 18px;
        line-height: 100%;
        color: #2B2B2B;
        background: $mainBG;
        box-shadow: $mainShadow;
        border-radius: $mainBorder;
        padding: 21px 0px 21px 20px;
        margin: 0px 0px 50px 0px;
    }

    &__table {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 85px 0px;
    }
}

.table-content {

    &__head {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 0px 30px 0px;
        gap: 60px;
    }

    &__column {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 60px;
        transition: 0.3s;
        &:hover{
            background: #D6E3EF;
        }
    }

    .head-close {
        gap: 35px;

    }
    .column-close {
        gap: 35px;

        &__item{
            &:nth-child(6) {
                width: 200px;
            }

            &:nth-child(7) {
                width: 200px;
            }
        }
        
    }
}

.head-table {

    &__item {
        width: 100px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 100%;
        color: #93AEC0;

        &:nth-child(3) {
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 20px;
                background-image: url(../img/Arrow-up-grey.svg);
                background-repeat: no-repeat;
                background-position-x: center;
                background-size: contain;
                width: 10px;
                height: 25px;
            }
        }

        &:nth-child(6) {
            width: 300px;
        }

        &:nth-child(7) {
            width: 300px;
        }
    }    
}

.column-table {

    &__item {
        width: 100px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: #000000;
        padding: 10px 0px 10px 0px;

        img{
            background: linear-gradient(90deg, #F1FAFF 0%, #E9F1F8 97.21%);
            box-shadow: -4px -4px 12px #FFFFFF,
            4px 4px 12px #CAD2D9;
            border-radius: 22px;
        }

        &:nth-child(1) {
            color: #93AEC0;
        }

        &:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 10px;
            width: 90px;
        }

        &:nth-child(6) {
            width: 300px;
            text-decoration-line: underline;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &:nth-child(7) {
            width: 300px;
            text-decoration-line: underline;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
}

.answer {
    background: $mainBGRose;
    border: $mainBorderRose ;
    box-sizing: $mainBoxSizing;
    box-shadow: $mainShadowRose;
    border-radius: $mainBorderRadiusRose;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: center;
    padding: 7px 0px 7px 0px;
    transition: 0.3s;
    &:hover{
        background: linear-gradient(133.32deg, #FDD8A0 3.56%, #FC657C 97.58%);
        border: 1px solid #EF6E47;
        box-sizing: border-box;
        box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.25),
        inset 6px 6px 12px rgba(210, 78, 49, 0.7);
        border-radius: 24px;
    }
}

//====================================================================================================

.pagination-control {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px 0px 140px 0px;
    &__arrow-prev {
        padding: 7px 18px;
        background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
        box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.43),
            3px 3px 6px #CAD2D9;
        box-sizing: border-box;
        border-radius: 27px;

        &::before {
            content: '';
            display: flex;
            padding: 5px 5px;
            border-left: 3px solid #DCE6EE;
            border-bottom: 3px solid #DCE6EE;
            transform: rotate(45deg);
            margin-left: 5px;
        }

        &:hover::before {
            content: '';
            display: flex;
            padding: 5px 5px;
            border-left: 3px solid #DCE6EE;
            border-bottom: 3px solid #DCE6EE;
            border-image: linear-gradient(133.32deg, #FDD8A0 3.56%, #FC657C 97.58%);
            border-image-slice: 1;
            transform: rotate(45deg);
            margin-left: 5px;
        }
    }

    &__number {
        background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
        box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.43),
            3px 3px 6px #CAD2D9;
        box-sizing: border-box;
        border-radius: 27px;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        padding: 7px 18px;
        color: #ec8971;
        transition: 0.3s;

        &:focus {
            background: linear-gradient(133.32deg, #FDD8A0 3.56%, #FC657C 97.58%);
            border: 1px solid #EF6E47;
            box-sizing: border-box;
            box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.25),
                inset 6px 6px 12px rgba(210, 78, 49, 0.7);
            border-radius: 24px;
            color: #fff;
            padding: 7px 17px;
        }

        &:hover {
            font-weight: bold;
            font-size: 24px;
            line-height: 150%;
            padding: 7px 17px;
            background: linear-gradient(133.32deg, #FDD8A0 3.56%, #FC657C 97.58%);
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.25),
                3px 3px 6px #CCD3DB;
            border-radius: 27px;
            color: #FFFFFF;
        }

    }

    &__arrow-next {
        padding: 7px 18px;
        background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
        box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.43),
            3px 3px 6px #CAD2D9;
        box-sizing: border-box;
        border-radius: 27px;

        &::before {
            content: '';
            display: flex;
            padding: 5px 5px;
            border-left: 3px solid #DCE6EE;
            border-bottom: 3px solid #DCE6EE;
            transform: rotate(225deg);
            margin-right: 3px;
        }

        &:hover::before {
            content: '';
            display: flex;
            padding: 5px 5px;
            border-left: 3px solid #DCE6EE;
            border-bottom: 3px solid #DCE6EE;
            border-image: linear-gradient(133.32deg, #FDD8A0 3.56%, #FC657C 97.58%);
            border-image-slice: 1;
            transform: rotate(225deg);
            margin-right: 3px;
        }
    }
}

//====================================================================================================


.block-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 21;
        background: rgba(147, 174, 192, 0.5);
        backdrop-filter: blur(12px);
    }

    &__comment {
        position: absolute;
        z-index: 22;
        width: 580px;
        display: flex;
        flex-direction: column;
        left: 32%;
        top: 10%;
        background: linear-gradient(0deg, #F1FAFF, #F1FAFF),
        linear-gradient(183.6deg, #F1FAFF 25.58%, #F1FAFF 25.58%, #E9F1F8 66.56%);
        box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.43),
        -8px -8px 12px #CAD2D9;
        border-radius: 35px;
        padding: 33px 33px 33px 33px;
    }

    &__answer {
        position: absolute;
        z-index: 22;
        width: 580px;
        display: flex;
        flex-direction: column;
        left: 32%;
        top: 45%;
        background: linear-gradient(0deg, #F1FAFF, #F1FAFF),
        linear-gradient(183.6deg, #F1FAFF 25.58%, #F1FAFF 25.58%, #E9F1F8 66.56%);
        box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.43),
        -8px -8px 12px #CAD2D9;
        border-radius: 35px;
        padding: 33px 33px 33px 33px;
    }
}

.comment-block {

    &__ident {
        display: flex;
        padding: 13px 20px 13px 20px;
        justify-content: space-between;
        margin: -60px 0px 40px 20px;
        width: 115px;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
        box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.43),
        -8px -8px 12px #CAD2D9;
        border-radius: 35px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
    }

    &__action {
        display: flex;
        column-gap: 150px;
        margin: 40px 0px 0px 0px;
    }
}

.action-comment {

    &__ok {
        img{
            background: linear-gradient(90deg, #F1FAFF 0%, #E9F1F8 97.21%);
            box-shadow: -4px -4px 12px #FFFFFF,
            4px 4px 12px #CAD2D9;
            border-radius: 22px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 8px 29px 8px 29px;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        background: linear-gradient(113.64deg, #FDD8A0 10.31%, #FC657C 93.85%);
        box-shadow: -4px -4px 12px #FFFFFF,
        4px 4px 12px #CAD2D9;
        border-radius: 40px;
        transition: 0.3s;
        &:hover{
            background: linear-gradient(98.84deg, #FDD8A0 8.65%, #FC657C 98.69%);
            border: 1px solid #FFBBA7;
            box-sizing: border-box;
            box-shadow: inset -1px -2px 8px rgba(255, 255, 255, 0.7),
            inset 3px 2px 7px rgba(181, 46, 3, 0.7);
            border-radius: 22px;
            padding: 7px 28px 7px 28px;
        }
    }
}

.answer-block {

    &__ident {
        display: flex;
        padding: 13px 20px 13px 20px;
        justify-content: space-between;
        margin: -60px 0px 40px 20px;
        width: 115px;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
        box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.43),
        -8px -8px 12px #CAD2D9;
        border-radius: 35px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        width: 100%;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 8px 29px 8px 29px;
        font-weight: bold;
        width: 140px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        background: linear-gradient(113.64deg, #FDD8A0 10.31%, #FC657C 93.85%);
        box-shadow: -4px -4px 12px #FFFFFF,
        4px 4px 12px #CAD2D9;
        border-radius: 40px;
        transition: 0.3s;

        &:hover {
            background: linear-gradient(98.84deg, #FDD8A0 8.65%, #FC657C 98.69%);
            border: 1px solid #FFBBA7;
            box-sizing: border-box;
            box-shadow: inset -1px -2px 8px rgba(255, 255, 255, 0.7),
                inset 3px 2px 7px rgba(181, 46, 3, 0.7);
            border-radius: 22px;
            padding: 7px 28px 7px 28px;
        }
    }
}
//====================================================================================================
@media only screen and (max-width: 1024px) {
    .switch-left{
        width: 250px;
    }
    .search-left{
        width: 40%;
        input{
            width: 100%;
        }
    }
    .table-content__head,
    .table-content__column {
        gap: 10px;
    }
    .head-table__item:nth-child(6),
    .column-table__item:nth-child(6) {
        width: 200px;
    }
    .head-table__item:nth-child(7),
    .column-table__item:nth-child(7) {
        width: 200px;
    }
    .table-content .head-close{
        gap: 10px;
    }
    .table-content .column-close{
        gap: 10px;
    }
    .block-popup__comment,
    .block-popup__answer {
        left: 24%;
    }
}