.moderator-editpage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    &__title {
        font-weight: normal;
        font-size: 28px;
        line-height: 150%;
        color: #000000;
        margin: 60px 0px 50px 0px;
    }

    &__orange-row {
        background-image: url(../img/ellipse_orange.svg);
       width: 145px;
       height: 144px;
       position: absolute;
       top: 7%;
       left: 15%;
       background-position: center center;
       transition: all 0.1s ease; 
    }

    &__purle-row {
        background-image: url(../img/ellipse_purple.svg);
        width: 59px;
        height: 59px;
        position: absolute;
        bottom: 20%;
        left: 30%;
        background-position: center center;
        transition: all 0.1s ease; 
        
    }

    &__orangesmall-row {
        background-image: url(../img/ellipse_orange-small.svg);
        width: 100%;
        height: auto;
        width: 34px;
        height: 34px;
        position: absolute;
        bottom: 4%;
        right: 15%;
        background-position: center center;
        transition: all 0.1s ease; 
    }

    &__piramide {
        background-image: url(../img/piramida.svg);
        width: 100%;
        height: auto;
        width: 225px;
        height: 154px;
        position: absolute;
        right: 0%;
        top: 8%;
        background-position: center center;
        transition: all 0.1s ease; 
    }

    &__piramide-big {
        background-image: url(../img/Piramida_bg.svg);
        width: 100%;
        height: auto;
        width: 380px;
        height: 855px;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 35%;
        background-position: center center;
    }

    &__email-title {
        font-weight: 300;
        font-size: 18px;
        line-height: 100%;
        text-decoration-line: underline;
        color: #2B2B2B;
        padding: 16px 56px;
        background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
        box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.43),
        -8px -8px 12px #CAD2D9;
        border-radius: 35px;
        margin: 0px 0px 40px 0px;
    }

}

.login-moderator {
    background: linear-gradient(183.6deg, #F1FAFF 25.58%, #E9F1F8 66.56%);
    box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.43),
    8px 8px 12px #CAD2D9;
    border-radius: 22px;
    padding: 0px 40px 0px 40px;
    margin: 0px 0px 180px 0px;
    width: 360px;

    &__title {
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #000000;
        margin: 30px 0px 30px 0px;
    }

    &__nickname {
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        padding: 12px 26px 12px 26px;
        background: linear-gradient(160.01deg, #E9F1F8 23.58%, #F1FAFF 75.95%);
        border: 1px solid #F1FAFF;
        box-sizing: border-box;
        box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.95),
        inset 6px 6px 12px #CBD3DA;
        border-radius: 45px;
        margin: 0px 0px 30px 0px;
    }

    &__password {
        padding: 16px 70px 7px 26px;
        background: linear-gradient(160.01deg, #E9F1F8 23.58%, #F1FAFF 75.95%);
        border: 1px solid #F1FAFF;
        box-sizing: border-box;
        box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.95),
        inset 6px 6px 12px #CBD3DA;
        border-radius: 45px;
        position: relative;
        margin: 0px 0px 60px 0px;
        overflow: hidden;

        input.show-pass{
            font-weight: 300;
            font-size: 18px;
            line-height: 150%;
            color: #2B2B2B;
            width: 100%;
            padding: 0px 0px 8px 0px;
            &::placeholder {
                font-weight: 900;
                font-size: 30px;
                line-height: 88.5%;
                letter-spacing: 0.15em;
                color: #A1BACB;
                padding: 0;
            }
        }

        input{
            font-weight: 900;
            font-size: 30px;
            line-height: 88.5%;
            letter-spacing: 0.15em;
            color: #A1BACB;
            width: 100%;
            &::placeholder{
                color: #A1BACB;
                font-weight: 900;
            }
        }

        a {
            position: absolute;
            top: 9px;
            right: 13px;
            background: linear-gradient(90deg, #F1FAFF 0%, #E9F1F8 97.21%);
            box-shadow: -4px -4px 12px #FFFFFF,
            4px 4px 12px #CAD2D9;
            border-radius: 22px;
            padding: 19px;
            background-image: url(../img/uil_eye-slash.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
        a.show-eye{
           background-image: url(../img/eye-show.svg);
           background-repeat: no-repeat;
           background-position: center center;
        }
    }

    &__button {
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        padding: 12px 120px 12px 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(133.32deg, #FDD8A0 3.56%, #FC657C 97.58%);
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.25),
            8px 8px 12px #CCD3DB;
        border-radius: 45px;
        margin: 0px 0px 40px 0px;
        width: 100%;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            background: linear-gradient(133.32deg, #FDD8A0 3.56%, #FC657C 97.58%);
            border: 1px solid #EF6E47;
            box-sizing: border-box;
            box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.25),
            inset 6px 6px 12px rgba(210, 78, 49, 0.7);
            border-radius: 45px;
        }
    }
}
//====================================================================================================
@media only screen and (max-width: 1024px) {
    .moderator-editpage {

        &__title {}

        &__orange-row {
            top: 5%;
            left: 8%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &__purle-row {
            bottom: 24%;
            left: 24%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &__orangesmall-row {
            right: 2%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &__piramide {
            background-size: contain;
            background-repeat: no-repeat;
        }

        &__piramide-big {
            background-size: contain;
            background-repeat: no-repeat;
            width: 290px;
        }
    }

}
//====================================================================================================
@media only screen and (max-width: 768px) {
    .moderator-editpage {

        &__title {}

        &__orange-row {
            width: 100px;
            top: 3%;
        }

        &__purle-row {
            width: 49px;
            bottom: 22%;
            left: 6%;
        }

        &__orangesmall-row {
        }

        &__piramide {
            width: 155px;
            top: 3%;
        }

        &__piramide-big {
            width: 180px;
        }
    }

}
//====================================================================================================
@media only screen and (max-width: 540px) {

    .moderator-editpage {
        overflow: hidden;
        &__title {
            font-size: 20px;
            margin: 60px 0px 130px 0px;
        }

        &__orange-row {
            width: 105px;
            left: -5%;
            top: 8%;
        }

        &__purle-row {
            bottom: 16%;
            left: 56%;
        }

        &__orangesmall-row {
            bottom: 1%;
        }

        &__piramide {
            right: -8%;
            top: 7%;
        }

        &__piramide-big {
            top: 67%;
            height: 410px;
        }

    }
    .login-moderator {
        margin: 0px 0px 260px 0px;
    }

}
//====================================================================================================
@media only screen and (max-width: 320px) {
   .login-moderator {
       width: 290px;
       padding: 0px 10px 0px 10px;
   }
 
}
